In [ ]:
import sys
sys.path.append('./')

import pandas as pd
import numpy as np
import seaborn as sns
import scipy

from src.models import EASE
from src.utils import write_preds

# Data preparing

In [ ]:
data_folder = 'data/'

friends = pd.read_csv(data_folder + 'data_tr.csv')
friends.head()

       u      v   t  h
0   8538  53245  82  9
1  32991  41149  39  4
2  30104  35030  25  4
3  26292  48613  37  1
4  31603  32991  59  9

In [ ]:
print(f'Unique friends u: {len(friends.u.unique())}')

Unique friends u: 9300

In [ ]:
print(f'Unique friends v: {len(friends.v.unique())}')

Unique friends v: 9437

In [ ]:
nodes = pd.concat([friends.u, friends.v]).sort_values().unique()
num_nodes = len(nodes)

In [ ]:
friends = friends.rename(columns={'u':'user_id', 'v':'item_id', 'h':'rating'}).drop(columns=['t'])
friends_t = friends.copy()
friends_t['user_id'] = friends['item_id']
friends_t['item_id'] = friends['user_id']
all_interactions = pd.concat([friends, friends_t])

# EASE Training

In [ ]:
ease = EASE()
ease.fit(all_interactions, implicit=False, lambda_=10.0)
preds = ease.predict(all_interactions, nodes, nodes, k=11)
write_preds(preds, data_folder)